<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quentin Tarantino</title>
    <link rel="stylesheet" href="styles/shared.css" />
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="">Quentin Tarantino</a>
      </div>
      <nav>
        <ul>
          <li><a id="forReview" href="allReviews">Reviews</a></li>
          <li><a href="https://en.wikipedia.org/wiki/Quentin_Tarantino">About</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section id="landing-image">
        <div id="landing-content">
          <h1>Quentin Tarantino Movies</h1>
          <p>Let's Explore The Movies Of Tarantino</p>
          <a href="review">Write A Review</a>
        </div>
      </section>
      <section id="top">
        <h2>MOVIES</h2>
        <ul id="movie-display">
          <li class="display">
            <a href="https://www.imdb.com/title/tt0266697/"><img src="images/killbill.jpeg" alt="" />
            </a>
            
            <p>Kill Bill</p>
          </li>
          <li class="display">
            <a href="https://www.imdb.com/title/tt0110912/">
              <img src="images/pulpfictionbr.jpg" alt="" />
            </a>

            <p>Pulp Fiction</p>
          </li>
          <li class="display">
            <a href="https://www.imdb.com/title/tt0105236/">
              <img src="images/rd.jpeg" alt="" />
            </a>
            
            <p>Reservoir Dogs</p>
          </li>
          <li class="display">
            <a href="https://www.imdb.com/title/tt7131622/"><img src="images/timeinholly.jpg" alt="" />
            </a>
            
            <p>
              Once Upon A Time <br />
              In Hollywood
            </p>
          </li>
          <li class="display">
            <a href="https://www.imdb.com/title/tt1853728/">
              <img src="images/django_.jpg" alt="" />
            </a>
            
            <p>Django Unchained</p>
          </li>
          <li class="display">
            <a href="https://www.imdb.com/title/tt0378194/">
              <img src="images/killbill2.jpg" alt="" />
            </a>
            
            <p>Kill Bill Vol-2</p>
          </li>
          <li class="display">
            <a href="https://www.imdb.com/title/tt0361748/">
              <img src="images/inglourious.jpg" alt="" />
            </a>
            
            <p>Inglourious Basterds</p>
          </li>
          <li class="display">
            <a href="https://www.imdb.com/title/tt3460252/"
              ><img src="images/hateful.jpg" alt=""
            /></a>

            <p>The Hateful Eight</p>
          </li>
        </ul>
      </section>
    </main>
    <footer>
      <ul class="social">
        <li>
          <a href=""><img src="images/icons/insta.png" alt="" /></a>
        </li>
        <li>
          <a href=""><img src="images/icons/facebook.png" alt="" /></a>
        </li>
      </ul>
    </footer>
  </body>
</html>
