<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Review Form</title>
    <link rel="stylesheet" href="styles/shared.css" />
    <link rel="stylesheet" href="styles/review.css" />
   
  </head>
  <body>
  </head>
  <body>
    <header id="head">
      <div class="logo">
        <a href="/">Quentin Tarantino</a>
      </div>
      <nav>
        <ul>
          <li><a id= "forReview" href="allReviews">Reviews</a></li>
          <li><a href="https://en.wikipedia.org/wiki/Quentin_Tarantino">About</a></li>
 
        </ul>
      </nav>
    </header>
    <section id="formBox">
    <form id = "form" action="/review" method="POST">
      <label for="movieName">Movie Name:</label>
      <input type="text" id="movieName" name="movieName" required />

      <label for="review">Review:</label>
      <textarea id="review" name="review" rows="4" required></textarea>

      <button type="submit">Submit</button>
      <!-- <button><a href="/">Back</a></button> -->
    </form>
  </section>
  </body>
</html>
