#landing-image {
  height: 700px;
  background-image: url("../images/qt3.jpg");
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

#landing-content {
  max-width: 50%;
  background-color: rgba(202, 202, 133, 0.199);
  text-align: center;
  padding: 50px 0;
  margin: 0 auto;
  position: relative;
  top: 250px;
  border-radius: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#landing-content h1 {
  color: white;
  font-size: 30px;
  margin: 0;
}

#landing-content p {
  font-size: 20px;
  color: white;
}

#landing-content a {
  text-decoration: none;
  background-color: yellow;
  padding: 6px 20px;
  color: black;
  font-size: 18px;
  border-radius: 2px;
}

#top {
  margin: 50px 0px;
  
 
}

#top h2 {
  text-align: center;
  color: yellow;
  text-shadow: 1px 2px black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30px;
}

.display {
  margin: 0 20px;
}



#movie-display {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  width: 90%;
  margin: 50px auto;
  /* flex-wrap: wrap; */

  justify-content: center;
}

#movie-display p{
  color: rgb(255, 255, 255);
}
#movie-display img{
  height: 300px;
  width: 100%;
  /* box-shadow: 2px 4px 8px rgb(68, 67, 67); */
  object-fit: contain;

}

li p {
  color: white;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

footer {
  margin: auto;
}

footer img {
  width: 50px;
}
.social li {
  margin: 0;
  padding: 20px;
}

.social {
  display: flex;
  justify-content: center;
}

